{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
    <form action="{% url 'upd_snippet' snippet.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <fieldset>
                <div class="row disabled">
                    <div class="col col-8">
                        Название: <input name="name" type="text"
                                         value="{{ snippet.name }}"
                                         class="form-control">
                    </div>
                    <div class="col col-8">
                        Язык: <select name="lang" class="form-control">
                        <option>{{ snippet.lang }}</option>
                        <option>Javascript</option>
                        <option>C++</option>
                        <option>Python</option>
                    </select>
                    </div>
                    <div class="col col-4">
                        Дата создания:<input name="creation_date" type="text"
                                             value="{{ snippet.creation_date|date:'Y-m-d h:i:s' }}"
                                             class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <input name="code" type="text" value="{{ snippet.code }}"
                               class="form-control">

                    </div>
                </div>
                <div class="col-2 mt-4">
                    <a href="{% url 'upd_snippet' snippet.id %}">
                        <button name="update" class="btn btn-success">Обновить</button>
                    </a>
                </div>
            </fieldset>
        </div>
    </form>
    <a href="{% url 'del_snippet' snippet.id %}">
        <button name="delete" class="btn btn-warning mt-2">Удалить</button>
    </a>
</div>
{% endblock %}