{% extends 'base.html' %}
{% load my_tags %}

{% block main %}
<div class="container">
    {% if messages %}
    <div class="messages alert alert-success">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <button type="button"   data-dismiss="alert" aria-label="Close" class="close">✖</button>
        </li>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td><a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.name }}</a></td>
                    <td>{{ snippet.user|is_empty:"Аноним"}}</td>
                    <td>{{ snippet.creation_date | date:"d.m.Y H:i "}}</td>
                    <td>{{ snippet.parametr }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <a href="{% url 'snippets_hidden' %}">
                    <button class="btn btn-success">Отображать скрытые</button>
                </a>
                <a href="{% url 'snippets_all' %}">
                    <button class="btn btn-success">Отображать все</button>
                </a>
                <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
            </div>
        </div>
    </div>
</div>
{% endblock%}