{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td><a href="{% url 'snippet' snippet.id }}">{{ snippet.name }}</a></td>
                    <td>{{ snippet.creation_date | date:"d.m.Y H:i "}}</td>
                    <td><a href="{% url 'del_snippet' snippet.id %}"><button class="btn btn-warning">Удалить</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: 2</i>
            </div>
        </div>
    </div>
</div>
{% endblock%}